body {
    padding-top: 50px;
    padding-bottom: 20px;
}


.body-content {
    padding-left: 15px;
    padding-right: 15px;
}



select{
    max-width: 280px;
}





.spinner {
  display: inline-block;
  opacity: 0;
  width: 0;

  -webkit-transition: opacity 0.25s, width 0.25s;
  -moz-transition: opacity 0.25s, width 0.25s;
  -o-transition: opacity 0.25s, width 0.25s;
  transition: opacity 0.25s, width 0.25s;
}

.has-spinner.active {
  cursor:progress;
}

.has-spinner.active .spinner {
  opacity: 1;
  width: auto; /* This doesn't work, just fix for unkown width elements */
}

.has-spinner.btn-mini.active .spinner {
    width: 10px;
}

.has-spinner.btn-small.active .spinner {
    width: 13px;
}

.has-spinner.btn.active .spinner {
    width: 16px;
}

.has-spinner.btn-large.active .spinner {
    width: 19px;
}

.font-ge {
    font-family: 'BPG Mrgvlovani', SansSerif;
}

* {
    font-family: 'BPG Mrgvlovani', SansSerif;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
}

.btn-quiz {
    margin: 1rem;
}

#pTimeLeft {
    line-height: 36px;
    background-color: #03585f;
    border: none;
    font-size: 18px;
}

.navbar-stopwatch {
    display: inline-block;
    float: none;
}

.navbar-inverse {
    background-color: #03585f;
}

.student-name-label {
    color: white !important;
}

#question-count {
    line-height: 36px;
    background-color: #03585f;
    border: none;
    font-size: 18px;
}

.caption {
    color: darkred;
}