@using System.Security.Claims

<div class="jumbotron text-center font-ge">
    <h2>სახელი: @(((ClaimsIdentity)User.Identity).FindFirst("FullName").Value)</h2>
    <h2>პირადი ნომერი: @(((ClaimsIdentity)User.Identity).FindFirst("PrivateNumber").Value)</h2>
    <br />
    @{
        var quizes = ((ClaimsIdentity)User.Identity).FindFirst("QuizIds").Value.Split(';');
        Dictionary<string, string> dict = new Dictionary<string, string>();

        foreach (var x in quizes.ToList())
        {
            dict.Add(x.Split(',')[0], x.Split(',')[1]);
        }
    }
    @for (int i = 0; i < dict.Count; i++)
    {
        @Html.ActionLink("დაწყება - " + dict[dict.Keys.ElementAt(i)], "Index", "ActiveQuiz", new { id = int.Parse(dict.Keys.ElementAt(i)) }, new { @class = "btn btn-lg btn-success btn-quiz" })
    }
    <br />
    <label class="caption">*ღილაკზე დაჭერით ადასტურებთ, რომ მზად ხართ ტესტის დასაწყებად.</label>
</div>
